#root {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  text-align: center;
  background-color:  #111216;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;  
}
