.news{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    
    h1{
        color: burlywood;
        font-size: 2.8rem;
        font-weight: 300;
        font-family: monospace; 
    }
    
}

.new {
    display: flex;
    font-display: row;
    flex-flow: row wrap;
    gap: 6rem;
    margin: 0 auto;
    justify-content:space-around;
    
    img{
        max-width: 20rem;
        height: 26rem;
        margin-top: -20%;
    }
    h2{
        text-align: center;
        // padding: 0 3rem;
        width: 18rem;
        line-height: 1;
        font-weight: 200;

    }

}

@media screen and (max-width: 960px){
.news{
    .new{
    width: 96%;
        img{
            width: 100%;
        }

    h2{
        font-size: 1.6rem;
        width: 96%;

    }

}
}
}